[Desktop Entry]
Type=Service
Name=Swift Touch KDE
Comment=Manage Acer Swift multimedia touchpad integration
Exec=swift-touch-kde-settings
Icon=preferences-desktop-touchpad
Categories=Qt;KDE;X-KDE-settings-hardware;
X-KDE-ServiceTypes=SystemSettingsExternalApp
X-KDE-System-Settings-Parent-Category=input-devices
X-KDE-Weight=65
X-KDE-Keywords=touchpad,acer,swift,multimedia,media
