[Desktop Entry]
Type=Application
Name=Swift Touch KDE
Comment=Swift SFG16 multimedia touchpad integration
Exec=swift-touch-kde-tray
Icon=input-touchpad
Terminal=false
Categories=Qt;KDE;Utility;Settings;
OnlyShowIn=KDE;
StartupNotify=false
X-GNOME-Autostart-enabled=true
